body {
    padding: 0px;
    background-color: rgb(236, 240, 248);
}
/* hide currency input */
.hidden {
    display: none; 
}
/* round btn corners */
.rounded { 
  margin-top: 16px;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);

}
/* main container*/
.contain {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 14px 0 16px;
    background-color: rgb(236, 240, 248);
    margin-bottom: 200px;
    
}
/* header with backgorund logo */
header {
    width: 100%;
    background-image: url("../images/globe.png");
    background-position: 3px 6px;
    background-repeat: no-repeat;
    background-color: #5785b5;
    color:azure;
    height: 90px; 
}
header h1 {
  padding: 30px 0px 0px 60px;
  margin: 0px;
  font-family: 'Noto Sans', sans-serif;
  text-shadow: 2px 2px #070707;

}
/* large image with backgorund image and tagline */
.jumbo {
    height: 280px;
    background-image: url("../images/travel.jpg");
    background-size: cover;
}

.jumbo p {
  text-align: center; 
  size: 36px;
}

.jumbo h2 {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 60px 20px 0px 20px;
    text-align: center;
    font-size: 60px;
    color:azure;
    text-shadow: 2px 2px #19181b;

}

.dropdown {
    max-width: 336px;

}
.purpose {
    margin: 0px;
    text-align: center;
}

.purpose p {
    margin: 0px;
    padding: 16px 18px 0 18px;
    font-size: 38px;
    background-color: rgb(180, 204, 235);
    height: 140px;
    color:rgb(64, 65, 39);
    
}

/* The Modal W3 Schools*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* media query  widths for jumbo and purpose */
@media screen and (max-width: 530px) {
    .jumbo h2{
      font-size: 30px;
    }
  }

  @media screen and (max-width: 532px) {
    .jumbo {
      height: 180px;
      background-image: url("../images/travel.jpg");
  }
}


  @media screen and (max-width: 872px) {
    .purpose p{
      font-size: 28px;
    }
  }

  @media screen and (max-width: 532px) {
    .purpose p{
      font-size: 22px;
    }
  }

  @media screen and (max-width: 400px) {
    .purpose {
  
    }
   
  }

